#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {

}

.nav-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.input-wrapper {

}

.view-wrapper {

}