/* Panel inputs */
.main-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    color: rgb(32, 32, 32);
}

.main-input > label, .main-input > div > label {
    font-size: 1.1em;
}

.main-input > input, .main-input > div > input {
    width: 100%;
    line-height: 2em;
    border-radius: 8px;
    border: 2px solid var(--main-offset-color);
    padding: 3px 10px;
    box-sizing: border-box;
}

.main-input > input:focus, .main-input > div > input:focus {
    border: 2px solid var(--main-color);
    outline: none;
}

/* Form inputs */
form > .main-input + .date-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form > .main-input + .date-input-container > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 49%;
}

form > .main-input {
    width: 100%;
}