button {
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2em;
}

.nav-bar {
    padding: 12px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selected {
    background-color: rgb(146, 179, 252);
}