button {
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2em;
}

.nav-bar {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.selected {
    background-color: var(--main-offset-color)
}